<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pagina Inicial</title>
  <link rel="stylesheet" href="css/style.css">
  <div>
    <%- include("partials/cabecalho.ejs")%>
  </div>

</head>

<body>

  <%- include("partials/menu.ejs")%>

  <div>
    <%- include("partials/rodape.ejs")%>
  </div>

      
</body>



</html>

