<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Alunos</title>
</head>

<body>
  <div>
    <% alunoV.forEach(aluno => { %>
        <div> Nome <%= aluno.nome %></div>
        <div> Matricula <%= aluno.matricula %></div>
        <div> Curso <%= aluno.curso %></div>
    <% }) %>
  </div>

      
</body>



</html>